In [1]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\nashi\appdata\local\programs\python\python312\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import zipfile36 as zipfile
import pymysql

In [3]:
cars = pd.read_csv("Car_SupplyChainManagementDataSet.csv")

In [4]:
# check information
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SupplierID              1000 non-null   int64
 1   SupplierAddress         1000 non-null   object
 2   SupplierName            1000 non-null   object
 3   SupplierContactDetails  1000 non-null   object
 4   ProductID               1000 non-null   int64
 5   CarMaker                1000 non-null   object
 6   CarModel                1000 non-null   object
 7   CarColor                1000 non-null   object
 8   CarModelYear            1000 non-null   int64
 9   CarPrice                1000 non-null   float64
 10  CustomerID              1000 non-null   object
 11  CustomerName            1000 non-null   object
 12  Gender                  1000 non-null   object
 13  JobTitle                1000 non-null   object
 14  PhoneNumber             1000 non-null   object
 15  EmailAddress            1000 non-null   object
 16  City                    1000 non-null   object
 17  Country                 1000 non-null   object
 18  CountryCode             1000 non-null   object
 19  State                   1000 non-null   object
 20  CustomerAddress         1000 non-null   object
 21  OrderDate               1000 non-null   object
 22  OrderID                 1000 non-null   object
 23  ShipDate                1000 non-null   object
 24  ShipMode                1000 non-null   object
 25  Shipping                1000 non-null   object
 26  PostalCode              1000 non-null   int64
 27  Sales                   1000 non-null   float64
 28  Quantity                1000 non-null   int64
 29  Discount                1000 non-null   float64
 30  CreditCardType          1000 non-null   object
 31  CreditCard              1000 non-null   int64
 32  CustomerFeedback        1000 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 257.9+ KB

In [5]:
# check shape
cars.shape

(1000, 33)

In [6]:
cars.columns

Index(['SupplierID', 'SupplierAddress', 'SupplierName',
       'SupplierContactDetails', 'ProductID', 'CarMaker', 'CarModel',
       'CarColor', 'CarModelYear', 'CarPrice', 'CustomerID', 'CustomerName',
       'Gender', 'JobTitle', 'PhoneNumber', 'EmailAddress', 'City', 'Country',
       'CountryCode', 'State', 'CustomerAddress', 'OrderDate', 'OrderID',
       'ShipDate', 'ShipMode', 'Shipping', 'PostalCode', 'Sales', 'Quantity',
       'Discount', 'CreditCardType', 'CreditCard', 'CustomerFeedback'],
      dtype='object')

In [7]:
cars.head()

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
0,1,542 Dayton Center,Bubbletube,871-57-6028,8893,Dodge,Ram 2500,Goldenrod,2007,521963.45,...,2019/03/14,Standard Class,Truck,99522,744796.41,1,0.83,diners-club-carte-blanche,30408016042565,Bad
1,2,0674 Springview Circle,Tagopia,337-64-4060,9444,Toyota,Tundra,Crimson,2010,672222.04,...,2019/03/06,Standard Class,Truck,56398,794773.17,1,0.79,jcb,3549221112237767,Good
2,3,70 Autumn Leaf Center,Zoomdog,218-19-1802,253,GMC,Savana 1500,Crimson,2011,504465.72,...,2019/01/20,Second Class,Air,60674,968244.90,1,0.28,jcb,3557159608180902,Okay
3,4,649 Corben Lane,Oozz,635-15-3112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,2019/03/16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
4,5,94 Namekagon Point,Kare,849-23-6788,8905,Mercury,Mariner,Teal,2009,699890.24,...,2019/01/29,Second Class,Air,48232,879519.57,1,0.50,china-unionpay,5602235978541517,Bad

In [8]:
# Check for missing values
print(cars.isnull().sum())

SupplierID                0
SupplierAddress           0
SupplierName              0
SupplierContactDetails    0
ProductID                 0
CarMaker                  0
CarModel                  0
CarColor                  0
CarModelYear              0
CarPrice                  0
CustomerID                0
CustomerName              0
Gender                    0
JobTitle                  0
PhoneNumber               0
EmailAddress              0
City                      0
Country                   0
CountryCode               0
State                     0
CustomerAddress           0
OrderDate                 0
OrderID                   0
ShipDate                  0
ShipMode                  0
Shipping                  0
PostalCode                0
Sales                     0
Quantity                  0
Discount                  0
CreditCardType            0
CreditCard                0
CustomerFeedback          0
dtype: int64

In [9]:
# Check for duplicates
print("Number of duplicate rows:", cars.duplicated().sum())

Number of duplicate rows: 0

In [10]:
cars.to_excel('cleaned_car_dataset.xlsx', sheet_name='Data')

# Connect to the MySQL database and put all the data into database

In [11]:
myconnection = pymysql.connect(host='localhost', user='root', passwd='Nish97@1997', database='nishathmhd')

In [12]:
cur = myconnection.cursor()

In [13]:
df = pd.read_excel("cleaned_car_dataset.xlsx")

In [14]:
df.head()

,Unnamed: 0,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
0,0,1,542 Dayton Center,Bubbletube,871-57-6028,8893,Dodge,Ram 2500,Goldenrod,2007,...,2019/03/14,Standard Class,Truck,99522,744796.41,1,0.83,diners-club-carte-blanche,30408016042565,Bad
1,1,2,0674 Springview Circle,Tagopia,337-64-4060,9444,Toyota,Tundra,Crimson,2010,...,2019/03/06,Standard Class,Truck,56398,794773.17,1,0.79,jcb,3549221112237767,Good
2,2,3,70 Autumn Leaf Center,Zoomdog,218-19-1802,253,GMC,Savana 1500,Crimson,2011,...,2019/01/20,Second Class,Air,60674,968244.90,1,0.28,jcb,3557159608180902,Okay
3,3,4,649 Corben Lane,Oozz,635-15-3112,1283,Volkswagen,Cabriolet,Fuscia,1990,...,2019/03/16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
4,4,5,94 Namekagon Point,Kare,849-23-6788,8905,Mercury,Mariner,Teal,2009,...,2019/01/29,Second Class,Air,48232,879519.57,1,0.50,china-unionpay,5602235978541517,Bad

In [15]:
# Remove the first unwanted column using iloc
df = df.iloc[:,1:]

In [16]:
# Check the number of columns in your DataFrame
num_cols = len(df.columns)

# Generate a string with the same number of placeholders as the number of columns
placeholders = ','.join(['%s'] * num_cols)

In [21]:
# create a new table into the database and insert the data.
cur.execute("CREATE TABLE IF NOT EXISTS cars (SupplierID text, SupplierAddress text, SupplierName text, SupplierContactDetails text, ProductID text, CarMaker text, CarModel text, CarColor text, CarModelYear text, CarPrice text, CustomerID text, CustomerName text, Gender text, JobTitle text, PhoneNumber text, EmailAddress text, City text, Country text, CountryCode text, State text, CustomerAddress text, OrderDate text, OrderID text, ShipDate text, ShipMode text, Shipping text, PostalCode text, Sales text, Quantity text, Discount text, CreditCardType text, CreditCard text, CustomerFeedback text)")

0

In [19]:
sql = "INSERT INTO cars VALUES ({})".format(placeholders)

In [20]:
# convert every record/row into tuple and commit it.
    
for i in range(len(df)):
    cur.execute(sql, tuple(df.iloc[i]))
    myconnection.commit()